<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Digital Hardware Interim Engineering Intern</h1>
            <span><address>San Diego, California</address><time>Summer 2014</time></span>
        </header>
        <p>
          <ul>
          <li>Developed a python framework using OpenOffice API to automatically generate SoC clock synthesis constraint files from clock signal catalogs in Excel</li>
          <li>Automate SoC clock cross domain checking file generation workflow</li>
          </ul>
        </p>
    </article>
    <article>
        <header>
            <h1>Program Manager Intern</h1>
            <span><address>Beijing, China</address><time>Summer 2012</time></span>
        </header>
        <p>
          <ul>
          <li>Developed Android application for landscape UI locker for synchronizations of mobile phones and In-Vehicle Infotainment system</li>
          <li>Researched and compared different methods to achieve audio synchronization between Android phones and In-Vehicle Infotainment system</li>
          </ul>
        </p>
    </article>
</section>
